# Dependencies
node_modules/
netlify/functions/node_modules/

# Build output
dist/
.angular/

# Env / secrets
.env
.env.local
*.json.bak
sadhana-report-*.json

# Generated environment files (created by scripts/gen-env.mjs)
src/environments/

# IDE
.vscode/
.idea/

# Netlify
.netlify/
